/* Add your own styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

header {
    display:flex;
    flex-direction: row;
    background-color: #4a5568;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
}

header img {
    width: 100px;
}

main {
    max-width: 500px;
    margin: auto;
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px;
}

button:hover {
    text-shadow: #4a5568 2px 1px;
    box-shadow: #4a5568 1px 1px;
}

#lookup {
    background-color: #38b2ac;
    color: #ffffff;
    display: inline-block;
}

#controls {
    margin-bottom: 30px;
    text-align: center;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: inset;
    height: 30px;
}

label {
    display: none;
}

table {
    border: 1px solid #f2f2f2;
    width: 100%;
}

td, th {
    padding: 5px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
